[Unit]
Description=Fan controlling service
After=multi-user.target reboot.target getty.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /opt/calculadora/Raspberry/Interface/init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target reboot.target getty.service
