[Unit]
Description=Fan controlling service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /opt/calculadora/Raspberry/Fan-control/main.py

[Install]
WantedBy=multi-user.target reboot.target
